.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FlexContainer > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}
